
@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .order {
        padding: 70px 10px 40px;
    }

    .order-container .order-pilih .order-item input{
        width: 50px;
    }

    .kontak-box {
        flex-direction: column;
    }
    .lokasi-konten a.lokasi-link p {
        font-size: 12px;
    }
    .footer-konten {
        flex-direction: column;
    }
    .footer-konten .box{
        width: min(500px, 100%);
    }

}

@media (max-width: 500px) {
    .navbar-nav {
        margin: 0;
    }
    .container-fluid {
        /* background-color: white; */
    background: linear-gradient(45deg, #d33059, #fa5b7d);

    }

    .carousel {
        margin: 0;
    }
    .carousel-item {
        height: 400px;
    }
    
    .lokasi-konten a.lokasi-link p {
        font-size: 12px;
    }

}
