:root {

}


/* for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300&display=swap');
    /* font-family: 'Architects Daughter', cursive;
    font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Montserrat:wght@300&display=swap');
    /* font-family: 'Alegreya', serif;
    font-family: 'Montserrat', sans-serif; */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

img.img-full {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

a {
    text-decoration: none !important;
}
button {
    outline: none !important;
}


p, ::placeholder, label, input, textarea {
    font-family: 'Montserrat', sans-serif;
}

.pm0 {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 10px;
    margin: 0;
}

.animasi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: -1;
    background: linear-gradient(45deg, white, rgba(0,0,0,.1));
}

header{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    /* backdrop-filter: blur(1px); */
    position: relative;
}
header::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 1;
    background: linear-gradient(45deg, #d33059, #fa5b7d);
    -webkit-clip-path: polygon(0 4%, 0% 100%, 71% 100%);
    clip-path: polygon(0 4%, 0% 100%, 71% 100%);
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 1; 
    background: linear-gradient(-45deg, #d33059, #fa5b7d);
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
header p {
    text-align: center;
    width: min(700px, 100%);
    padding: 0 10px;
    /* background: linear-gradient(45deg, #c90032, #f87995);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

header a {
    padding: 6px 16px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(-45deg, #d33059, #fa5b7d);
}



nav.navbar{
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(45deg, #d33059, #fa5b7d);
    color: white;
    z-index: 1000;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .5); */
}
.navbar-nav {
    margin: auto;
}


.carousel {
    margin: 10px 0;
    background: yellow;
}
.carousel-item {
    position: relative;
    height: 100vh;
}

/* .carousel::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    z-index: 1;
    background: linear-gradient(-45deg, #d33059, #fa5b7d);
    -webkit-clip-path: polygon(27% 0, 100% 100%, 100% 0);
    clip-path: polygon(27% 0, 100% 100%, 100% 0);
}
.carousel::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 1; 
    background: linear-gradient(45deg, #d33059, #fa5b7d);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
} */

.block {
    height: 70px;
    width: 100%;
    margin: 30px 0;
    background: #DCD0FE;
}

.search {
    margin: 40px auto 10px;
    padding: 0;
    width: 250px;
    position: relative;
}
.search input {
    width: 100%;
    border-radius: 100px;
    border-color: rgb(172, 5, 130);
    padding: 7px 30px 7px 15px;
    outline: none !important;
    color: palevioletred;
}
.search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: palevioletred;
    font-size: 18px;
}

.produk {
    min-height: 100vh;
    /* background: #FFD700; */
    padding: 40px 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* card */

.card {
    height: 300px;
    width: 250px;
    margin: 35px auto;
    padding: 10px;
    position: relative;
    transition: all .4s ease-in-out;
    background: rgba(255,255,255,.7);
    backdrop-filter: blur(3px);
}
.card:hover{
    height: auto;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.card .box1 {
    position: relative;
    height: 220px;
    transition: all .4s ease-in-out;
}
.card:hover .box1 {
    height: 20px;
}
.card .box1 span {
    height: 105px;
    width: 105px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -40px) rotateX(90deg);
    transition: all .4s ease-in-out;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background: linear-gradient(45deg, #d33059, #fa5b7d);
    color: white;
    font-weight: bolder;
}
.card:hover .box1 span {
    transform: translate(-50%, -60px) rotateX(0deg);
}
.card .box2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    padding: 7px;
    padding-top: 2px;
    margin-top: 15px;
} 
.card:hover .box2 {
    padding-top: 40px;
}
.card .box2 .box3 {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover .box2 .box3 {
    max-height: 500px;
}
.card .box2 .box3 p {
    text-align: center;
    font-size: 14px;
}
.card .box2 .box3 span {
    padding: 6px 15px;
    background: #FF0038;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .box2 .box3 span:active {
    background-color: pink;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}




.order {
	padding: 70px 40px;
	display: flex;
	flex-direction: column;
	position: relative;
    min-height: 100vh;
    background: rgba(255,255,255,.7);
    backdrop-filter: blur(1px);
    margin: 10px 0;
}
.order h1 {
	text-transform: uppercase;
	text-align: center;
	color: #d33059;
}
.order .order-ket {
	text-align: center;
	width: 100%;
	max-width: 1000px;
	margin: 10px auto 40px;
	color: #fa5b7d;
	font-size: 12px;
}
.order .order-container{
	min-height: 10%;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.order-container label{
	color: #fa5b7d;
}

.order-container .order-input, textarea {
	position: relative;
	padding: 7px;
	padding-left: 10px;
	margin: 0 0 15px;
	border: 2px solid #fa5b7d;
	border-radius: 5px;
	font-size: 14px;
	position: relative;
	outline: none;
	background-color: white;
	color: #fa5b7d;
}
.order-container textarea {
	height: 100px;
}
.order-container p.daftar-order {
	font-size: 1rem;
	margin: 0 5px;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	color: #fa5b7d;
}

.order-container .order-pilih {
	padding: 10px 0 10px 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #fa5b7d;
}
.order-container .order-pilih p {
	font-size: 14px;
	margin: 10px auto;
	text-align: center;
	color: #fa5b7d;
}
.order-container .order-pilih .order-item{
	margin: 3px 0;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 0;
	color: #fa5b7d;
}
.order-container .order-pilih .order-item li{
	flex: 1;
	color: #fa5b7d;
}
.order-container .order-pilih .order-item input{
	margin: 0 25px;
	width: 80px;
	text-align: center;
	color: #fa5b7d;
	border: 2px solid #fa5b7d;
	border-radius: 6px;
	background: transparent;
}
.order-container .order-pilih .order-item i{
	margin: 0 5px;
	font-size: 1rem;
	color: #fa5b7d;
}


.order-container .total-harga {
	margin: 0 0 5px;
	font-size: 1rem;
	color: #fa5b7d;
}
.order-container .bayar-box {
	margin: 5px 0 30px;
}
.order-container .bayar-box p{
	margin: 2px 0 5px;
	font-size: 1rem;
	color: #fa5b7d;
}
.order-container .bayar-box label{
	font-size: 1rem;
	color: #fa5b7d;
}
.order-container .bayar-box .bayar-pilih{
	width: 100%;
	display: flex;
	color: #fa5b7d;
}
.order-container .bayar-box .bayar-pilih textarea{
	width: 100%;
	font-size: 13px;
	display: none;
	/* color: white; */
    /* background: #fa5b7d; */
}
.order-container .bayar-box .bayar-pilih p{
	width: 100%;
	font-size: 1rem;
	color: #fa5b7d;
	display: none;
}
.order-container .label0{
	font-size: 1rem;
	padding: 0;
	color: #fa5b7d;
}
.order-container button.order-button{
	margin-top: 10px;
	font-size: 1rem;
	padding: 10px 24px;
	width: 150px;
	align-self: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background: linear-gradient(45deg, #FFD700, darkorange);
}
.order-container button.dis{
	background: darkgray;
}
.order-container button.order-button:active{
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.cek-input {
	font-size: 12px;
	text-align: center;
	color: #044383;
}









.kontak {
    position: relative;
    padding: 60px 20px 20px;
    margin: 0;
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #123, #234);
  }
.kontak h3 {
    text-align: center;
}
.kontak .kontak-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 5px;
}
.kontak .kontak-box .kontak-konten {
    margin: 10px;
    padding: 0;
}
.kontak .kontak-box .kontak-konten a{
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1rem;
}
.kontak .kontak-box .kontak-konten a img{
    height: 40px;
    width: 40px;
    z-index: 1;
    margin: 0;
}
.kontak .kontak-box .kontak-konten a p{
    margin: auto 0;
    padding: 2px 15px;
    background-color: yellow;
    border-radius: 5px;
    transform: translateX(-7px);
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    min-width: 200px;
    text-align: center;
}
.kontak .kontak-box .kontak-konten a p.wa{
    background-image: linear-gradient(45deg,#25D366, #075E54);
}
.kontak .kontak-box .kontak-konten a p.ig{
    background-image: linear-gradient(to top right, #FCCC63, #FBAD50, #E95950, #BC2A8d, #8A3Ab9);
}
.kontak .kontak-box .kontak-konten a p.telp{
    background-image: linear-gradient(to top right, #4267B2, #3B5998);
}
.kontak .lokasi-konten {
    display: flex;
    justify-content: center;
}
.kontak .lokasi-konten a{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 15px auto;
    font-size: 1rem;
}
.kontak .lokasi-konten a i{
    font-size: 20px;
    z-index: 1;
    margin: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid white;
}
.kontak .lokasi-konten a p{
    margin: auto 0;
    padding: 2px 15px;
    color: white;
    border-bottom: 2px solid white;
    font-size: 1rem;
} 
